.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
}

a{
  text-decoration: none;
  color: black;
}

.logo{
    display: flex;
    align-items: center;
}


.logo-img{
    width: 100px;
    height: 100px;
}

.list-item{
    display: flex;
    list-style: none;
}

.list-item > li {
    padding-left: 10px ;
}

.card{
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card > img {
    width: 100%;
    border-radius: 5px;
}

.resturnat-lists{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    margin: 20px;
}